

.videos {
    image-resolution: 25px;
    height: auto; 
    margin: 1rem 3rem 2rem 3rem; 
    display: grid;
    grid-template-columns: 3fr;
    grid-template-rows: repeat(3, auto);
    row-gap: 1rem;

 
    div .spotify,
    .youtube iframe {
        margin: 0;
        padding: 0;
         width: 80%;
        height: 80%
    }
 }